@use '../../index.scss';

.login {
    position: relative;
    height: 100vh;

    .header {
        position: absolute;
        color: index.$primary-color;
        font-weight: bolder;
        font-size: 2.5em;
        top: 6%;
        left:40%;
    }

    &>div:first-child {
        background: url('https://res.cloudinary.com/dd0lgcva4/image/upload/v1680595137/ecq65y2nhjqlxg17hexb.svg');
        background-size: contain;
        width: 45vw;
        display: none;
        height:inherit;
        position: fixed;
        background-color: index.$primary-color;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Teko', sans-serif;

        p {
            color: rgb(255, 255, 255);
            font-weight: bolder;
            font-size: 2.5em;
            margin: .5em 0 0 1em;
        }

        .user {
            position: absolute;
            font-size: 1.2em;
            color: pink;
        }

        .user1 {
            top:170px;
            left: 8%;
        }

        .user2 {
            bottom:38.5%;
            right: 8%;
        }
    }

    &>div:nth-child(2){
        width:  100vw;
        height: inherit;
        display: flex;
        align-items: center;
        position: relative;
        float:right;
        justify-content: center;

        .copyright {
            position: absolute;
            bottom:6%;
            font-weight:bolder;
            text-align: center;
            margin:  0 1em;
            font-size: 1em;
            color: rgba(15, 14, 14, 0.781)
        }

        .login-box {
            box-shadow: 2px 0 10px rgba(128, 128, 128, 0.705);
           width: 80%;
           min-height: 70%;
           display: grid;
           text-align: center;
           align-items: center;

           form {

            p {
                margin: 1em 1em;
            }

            div:first-child {
                text-align: left;
                margin: 0 10%;
            }

            div:first-child p:first-child{
                font-size: 1.5em;
                color: index.$primary-color;
                margin: 0;
                font-weight: bold;
            }

            div:first-child p:nth-child(2){
                color: rgba(43, 37, 37, 0.747);
                font-size: .8em;
                font-weight: 800;
                margin:0;
            }

            .email {
                margin-top: .8em;
            }

            .email, .password {
                position: relative;

                ion-icon {
                    position: absolute;
                    color: index.$primary-color;
                    bottom: 13px;
                    left: 11%
                }
            }

            .message {
                color: red;
            }

            &>div {

                input {
                    width: 75%;
                    outline: none;
                    padding-left: 30px;
                    background: index.$secondary-color;
                    margin-top: 5%;
                    border: none;
                    height: 40px;
                    border-radius: 10px;
                }

            }
            #button {
                width: 51%;
                height: 40px;
                background: index.$primary-color;
                border-radius: 10px;
                color: white;
                font-size: 1em;
                font-weight: bold;
                outline: none;
                margin-top: 8%;
                border: none;
                cursor: pointer;
                position: relative;
                justify-self: center;
                margin-left: auto;
                margin-right: auto;
            }

            .other-options {
                color: blue;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                    color: red;
                }
            }
           }
        }
    }
}



@media (min-width: 650px) {

    .login .header {
        display:none;
    }

    .login > div:first-child {
        display:block;
    }

    .login > div:nth-child(2) {
        width: 55vw;
    }
}