@use '../../index.scss' as index;
.loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(12, 2, 57);
    z-index:1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dadada;

    &>div {
        opacity: 0;
    }

    p:first-child {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    p:last-child {
        color: rgb(139, 137, 137);
        margin: 0;
        text-align: center;
        padding: 0 2em;
    }


}

.profile-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: black;
    z-index:1;
    opacity: 0.7;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: #dadada;
}

.profile-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index:1;
    opacity: 1;
    bottom: auto;
    top: 8vh;
    justify-content: center;
    align-items: center;
    display: none;

}
.user-profile-box {
   box-shadow: 2px 0 10px rgba(128, 128, 128, 0.705);
   width: 500px;
   min-height: 600px;
   display: flex;
   flex-direction: column;
   text-align: center;
   background-color: white;
   position: absolute;
   z-index: 1;
   top: 0;
   align-items: center;
   border-radius: 10px;
   opacity: 1;

   &>.header-box {
        display: flex;
        width: 100%;
        height: 20%;
        flex-direction: row;
        background-color:  index.$secondary-color;
        align-self: flex-start;
        justify-content: space-between;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin-bottom:20px;

        &>.exit {
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 8px;
            border-top-right-radius: 10px;
            cursor: pointer;
            align-self: flex-end;
            &>ion-icon {
                font-size: 30px;
            }
            &:hover {
                color: white;
                background: red;
            }
        }

        &>.header-text {
            align-self: flex-start;
            font-size: 20px;
            margin-left: 25px;
            padding-top: 8px;
        }

    }

   .message {
        color: red;
        justify-self: center;
        font-size: 14px;
        margin-bottom: 15px;
    }

   &>.info {
        display: flex;
        flex-direction: row;

        &>.username-text, &>.username-edit, &>.quote-text, &>.quote-edit {
            margin-right: 8px;
        }
        .username-edit, .quote-edit {
            cursor: pointer;
        }
        .updateForm {
            display: none;
            flex-direction: row;
            &> .quote {
                &>input {
                    justify-content: center;
                    width: 150px;
                }

            }
        }
    }
    &>.other-options {
        display: flex;
        align-self: flex-start;
        &>form {

            &>.update-profile-photo {
                display: flex;
                flex-direction: column;
                margin-left: 0;
                height: 30px;
                // align-items: flex-start;
                &>#button {
                    padding: 3px 10px;
                    width: max-content;
               }
                &>.updateForm {
                    display: none;
                    margin-left: 25px;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
    }

   &>p {
        // &>.other-options {
        //     color: blue;
        //     cursor: pointer;
        //     &:hover {
        //         text-decoration: underline;
        //         color: red;
        //     }
        // }
        margin-top: 0;
        margin-left: 5%;
        align-self: flex-start;
    }

   form {

    p {
        margin: 1em 1em;
    }

    div:first-child {
        text-align: left;
        margin: 5px 10%;
        #fileHolder {
            width: 200px;
            // margin-right: 0;
            .fileSelect {
                width: 210px;
                height: 27px;
                margin-right: 0;
                padding-top: 5px;
                padding-left: 7px;
                padding-right: 7px;
            }
        }
    }

    div:first-child p:first-child{
        font-size: 1.5em;
        color: index.$primary-color;
        margin: 0;
        font-weight: bold;
    }

    div:first-child p:nth-child(2){
        color: rgba(43, 37, 37, 0.747);
        font-size: .8em;
        font-weight: 800;
        margin:0;
    }

    .quote {
        margin-top: .8em;
    }

    .quote, .username {
        position: relative;
        right: 10px;
        ion-icon {
            position: absolute;
            color: index.$primary-color;
            bottom: 13px;
            left: 11%
        }
    }

    &>div {

        input {
            width: 100%;
            outline: none;
            padding-left: 10px;
            background: index.$secondary-color;
            border: none;
            height: 30px;
            border-radius: 10px;
        }

        &>.quote {
            margin-left: -35px;
            &>input{
                width: 30px;
            }
        }
    }

    // .buttons {

    // }

    #button, #Imagebutton {
        width: 40px;
        height: 28px;
        margin-top: 4px;
        background: index.$primary-color;
        border-radius: 10px;
        color: white;
        font-size: 0.8em;
        font-weight: lighter;
        outline: none;
        right: 1px;
        border: none;
        cursor: pointer;
        position: relative;
        justify-self: center;
        padding: 2px;
        &>ion-icon {
            font-size: 28px;
        }
    }
    #cancel, #Imagecancel {
        background: index.$secondary-color;
        width: 40px;
        height: 28px;
        margin-top: 4px;
        border-radius: 10px;
        color: rgb(27, 27, 27);
        font-size: 0.8em;
        font-weight: bold;
        outline: none;
        padding-left: 0;
        left: 10px;
        border: none;
        cursor: pointer;
        position: relative;
        justify-self: center;
        text-align: center;
        padding: 2px;
        &>ion-icon {
            font-size: 30px;
        }
    }

    #Imagebutton, #Imagecancel {
        width: 120px;
        text-align: center;
        height: 25px;
        padding: 2px, 2px;
        padding-top: 3.5px;
    }
}
}
.full-pic {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
}

.sidebar {
    &>nav {
        display: flex;
        height:50px;
        background: index.$secondary-color;
        color: rgb(27, 27, 27);
        align-items: center;
    
        &>div:first-child {
            padding-left: 1em;
            font-weight: bold;
            font-size: 1.5em;
        }
    
        &>div:nth-child(2) {
            display: flex;
            position: relative;
            width: 100%;
            margin-right: 1em;
            font-size: 1.3em;
            justify-content: flex-end;
    
            .dropdown {
            position: absolute;
            box-shadow: 0 2px 10px rgb(92, 89, 89);
            background: rgb(255, 255, 255);
            width: 60%;
            bottom: -97px;
            z-index: 1;
            right: 0;
    
            &>ul {
                padding: 0;
                margin: .5em 0;
    
                li:not(li:first-child) {
                    border-top: 1px solid rgba(0, 0, 0, 0.116);
                }
    
                li:hover {
                    cursor: pointer;
                    background: rgba(128, 128, 128, 0.164);
                }
    
                li {
                    list-style: none;
                    padding: .4em 1.2em;
                    font-size: .8em;
                    color: rgb(94, 87, 87);
                }
            }
        }
    }
    
        &>div:nth-child(2):hover ion-icon {
            cursor: pointer
        }
    }
    
    .hidden {
        display: none;
    }
    width:100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: index.$secondary-color;

    .chats {
        margin: .3em .8em 0 .8em;
        height: 100%;

        .menu {
            position: relative;
            width: 100%;

            &>input {
                outline: none;
                border-radius: 20px;
                width: inherit;
                border: 0;
                height: 42px;
                padding-left: 32px;
                margin-bottom: 1em;
            }


            &>ion-icon[name="search-outline"] {
                position: absolute;
                top:10px;
                left: 11px;
            }


        }

        .chats-wrapper > div >div:first-child, .search-wrapper > div >div:first-child{
            img {
            max-width:60px;
            min-height: 60px;
            object-fit: cover;
            aspect-ratio: 16/9;
            border-radius: 30px;
            }
       }

        .chats-wrapper, .search-wrapper {
            overflow-y: scroll;
            width: 100%;
            height: 80%;
            border-radius: 10px;
            background: white;

            .noUser {
                display:flex;
                text-align: center;
                flex-direction: column;
                height: 100%;
                align-items: center;
                justify-content: center;
                text-align: center;

                p {
                    margin: 0;
                    font-size: 900;
                    color: rgb(63, 59, 59);
                    padding: 0 .6em;
                }
            }


            &>div:first-child {
                border-top: 0;
            }
        }

        .chats-wrapper > div:hover, .search-wrapper > div:hover {
            cursor: pointer;
        }

        .chats-wrapper .wrap, .search-wrapper .wrap{
            width: 100%;

            &>div:first-child {
                width: 25%;
            }

            display: flex;
            gap: .8em;
            border-bottom: 1px solid rgb(219, 218, 218);
            padding: .30em 0;
            margin: 0 .5em;


            &>div:first-child {
                position: relative;

                .notifications {
                    position: absolute;
                    display: flex;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    border-radius: 10px;
                    align-items: center;
                    background: index.$primary-color;
                    color: rgb(255, 255, 255);
                    top: 0;
                    right: -2px;

                    &>div {
                        font-weight: bold;
                        font-size: .7em;
                    }
                }

            }

            .details {
                width: 100%;
                padding-top: .3em;

                span {
                    font-weight: bolder;
                    color:rgb(37, 36, 36)
                }

                p {
                    margin: 0;
                    font-weight: 500;
                    width:inherit;
                    color:rgb(110, 110, 110);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            }

            .timestamp {
                width: 30%;
                font-weight: bold;
                font-size: small;

                span {
                    float: right;
                }
            }
        }
        .search-wrapper {
            display: none;
            box-shadow: 2px 0 10px rgba(128, 128, 128, 0.705);
        }
    }
}

@media (min-width: 768px) {
    .sidebar {
        width:41%;

        .chats {

            .chats-wrapper > div {

                .details {
                    width: 60%;
                }
            }

        }
    }
}